<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
    />
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <p>Dragă {{name}}.</p>
          <p>Ne pare rău să vă informăm că adeverința dumneavoastră pentru a fi servită la "{{reason}}" a
            fost respinsă.</p>
          <p>Motivul respingerii: {{rejectReason}}</p>
        </div>
      </div>
    </div>
  </body>
</html>